[user]
    name = Dyst0rti0n
    email = Dystorti0n@proton.me
[core]
    editor = code --wait
[merge]
    tool = code --wait
[diff]
    tool = code --wait
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --all --pretty=format:'%C(yellow)%h%Creset - %s%C(magenta)%d%Creset %C(blue)(%cr) %C(green)%an%Creset'
[credential]
    helper = cache
